@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 18% 13%; /* #1d2026 */
    --foreground: 210 20% 90%; /* #dde1e6 */
    --card: 220 18% 18%; /* #262a33 */
    --card-foreground: 210 20% 90%; /* #dde1e6 */
    --popover: 220 18% 10%;
    --popover-foreground: 210 20% 90%;
    --primary: 175 65% 40%; /* #26a69a - Teal */
    --primary-foreground: 210 20% 98%;
    --secondary: 35 90% 55%; /* #f59e0b - Amber */
    --secondary-foreground: 220 10% 15%;
    --muted: 220 10% 30%;
    --muted-foreground: 210 15% 65%;
    --accent: 35 90% 55%; /* #f59e0b - Amber */
    --accent-foreground: 220 10% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 15% 25%;
    --input: 220 15% 25%;
    --ring: 175 65% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

    