@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 20% 9%; /* #0D1117 */
    --foreground: 210 17% 95%; /* #E6EDF3 */
    --card: 210 14% 10%; /* #161B22 */
    --card-foreground: 210 17% 95%; /* #E6EDF3 */
    --popover: 195 20% 9%;
    --popover-foreground: 210 17% 95%;
    --primary: 138 64% 34%; /* #238636 */
    --primary-foreground: 210 17% 95%; /* #E6EDF3 */
    --secondary: 212 100% 67%; /* #58A6FF */
    --secondary-foreground: 210 17% 95%;
    --muted: 214 9% 51%; /* #79818b - adjusted from #8B949E for better contrast */
    --muted-foreground: 214 9% 51%; /* #79818b */
    --accent: 212 100% 67%; /* #58A6FF */
    --accent-foreground: 210 17% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 14% 20%; /* A bit lighter than card bg */
    --input: 210 14% 20%;
    --ring: 138 64% 34%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
